body {
	font-family: Helvetica;
	text-align: center;
	font-size: 40px;
	color: white;
	background-color: #1abc9c;
	margin-right: 0;
	margin-left: 0;
}

ul {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: -webkit-right;
}

li {
	background-color: #2c3e50;
	margin: 10px 14px 5px 0px;
	border-radius: 5px;
	font-size: 20px;
	display: table;
	width: auto;
	padding: 4px 8px;
}

.div__listHolder {
	height: 300px;
	overflow: scroll;
	background-color: white;
}

h2 {
	margin-bottom: .83pc;
}